.main-wrapper{
  margin: 0 auto;
  width: 1000px;
  padding: 0;
}

body{
  margin: 0px;
  background-color: #ccc;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  overflow-x: hidden;
}

html body{
  font-family: 'Quicksand', sans-serif;
}

a{
  text-decoration: none;
}

header nav{
  width:100%;
  height:60px;
  background-color: rgb(0, 148, 59);
}

header nav ul{
  float: left;
}

header nav ul li{
  float: left;
  list-style: none;
}

header nav ul li a{
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
  padding: 25px;
}

header nav ul li a:hover{
  /*text-decoration: underline;*/
  background-color: rgb(19, 133, 34);
}

header .nav-login{
  float: right;
}

header .nav-login form{
  float: left;
  padding-top: 15px;
}

header .nav-login form input{
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  line-height: 30px;
}

header .nav-login form input:focus{
width: 200px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}

header .nav-login form button{
  float: left;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

header .nav-login form button:hover{
  background-color: #a3a3a3;
}

header .nav-login a{
  float: left;
  display: block;
  width: 70px;
  height: 60px;
  border: none;
  background-color: rgb(0, 148, 59);
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 63px;
  cursor: pointer;
}

header .nav-login a:hover{
  text-decoration: underline;
}

h3{
  color: black;
  font-size: 250%;
}

h5{
  color: black;
  font-size: 110%;
  font-weight: normal;
}

.main-container{
  padding-top: 40px;
}

.main-container h2{
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  text-align: left;
  line-height: 30px;
}

.signup-form{
  width: 400px;
  margin: 0;
  padding-top: 25px;
}

.signup-form input{
  width: 100%;
  height: 40px;
  padding: 0px 5%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  line-height: 40px;
}

.signup-form button{
  display: block;
  margin: 0;
  width: 30%;
  height: 40px;
  border: none;
  background-color: grey;
  font-family: sans-serif;
  color: black;
  cursor: pointer;
}

.signup-form button:hover{
  background-color: rgb(50, 30, 200);
}

h1{
  color: white;
  font-size: 250%;
  text-align: center;
}

.search{
  text-align:center;
}

.main-container a{
  color: white;
  font-size: 150%;
}

.main-container a:hover{
  text-decoration: underline;
}

.main-wrapper{
  text-align: center;
}

table {
color: #333;
width: 650px;
border-collapse:
collapse; border-spacing: 0;
margin: 0 auto;
}

td, th {
border: 1px solid transparent; /*Remove border*/
height: 30px;
transition: all 0.3s;
}

th {
background: #DFDFDF; /*Darken header*/
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

tr:first-child td{
  text-transform: uppercase;
  color: rgb(1, 66, 13);
}

tr:nth-child(even) td{
  background: #F1F1F1;
}

tr:nth-child(odd) td{
  background: #FEFEFE;
}

form{
  color: white;
}

#title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 45px;
  text-decoration: underline;
  left: 5%;
  color: black;
}

#all{
  display: flex;
  flex-wrap: wrap; 
  margin: auto;
  width: 99%;
}

.product{
  text-align: center;
  border: 1px solid lightgrey;
  background-color: rgb(255, 255, 255);
  width: 315px;
  display: inline-block;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  border-radius: 5px;
}

.product:hover{
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  border: 1px solid black;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.product_name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: 1000;
}

.product_price{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.manage_cart{
  width: 60%;
  background-color: rgb(0, 148, 59);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  padding: 4%;
  margin: 3%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.manage_cart:hover{
  background-color: rgb(13, 110, 26);
}

.quant{
  width: 50px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.ask_quant{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}

.description{
  width: 95%;
  height: 95%;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 2%;
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.5s;
}

.close{
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 40px;
}

.close:hover{
  color: grey;
  cursor: pointer;
}

.desc_head{
  position: absolute;
  left: 4%;
  font-size: 40px;
  color: black;
}

.desc_cont{
  position: relative;
  left: 4%;
  top: 14%;
}