.main-wrapper{
  margin-right: 20px;
  margin-left: 100px;
  padding: 0;
}

body{
  margin: 0px;
  background-color: rgb(233, 233, 233);
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  
}

html body{
  font-family: 'Quicksand', sans-serif;
}

a{
  text-decoration: none;
}

header nav{
  width:100%;
  height:60px;
  background-color: rgb(0, 148, 59);
}

header nav ul{
  float: left;
}

header nav ul li{
  float: left;
  list-style: none;
}

header nav ul li a{
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
  padding: 25px;
}

header nav ul li a:hover{
  /*text-decoration: underline;*/
  background-color: rgb(43, 128, 54);
  border-radius: 5%;
  transition: 400ms;
}

header .nav-login{
  float: right;
}

header .nav-login form{
  float: left;
  padding-top: 15px;
}

header .nav-login form input{
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  line-height: 30px;
}

header .nav-login form input:focus{
width: 200px;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}

header .nav-login form button{
  float: left;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

header .nav-login form button:hover{
  background-color: #a3a3a3;
}

header .nav-login a{
  float: left;
  display: block;
  width: 70px;
  height: 60px;
  border: none;
  background-color: rgb(0, 148, 59);
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 63px;
  cursor: pointer;
}

header .nav-login a:hover{
  text-decoration: underline;
}

h3{
  color: black;
  font-size: 250%;
}

h5{
  color: black;
  font-size: 110%;
  font-weight: normal;
}

.main-container{
  padding-top: 40px;
}

.main-container h2{
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  text-align: left;
  line-height: 30px;
}

.signup-form{
  width: 400px;
  margin: 0;
  padding-top: 25px;
}

.signup-form input{
  width: 100%;
  height: 40px;
  padding: 0px 5%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  line-height: 40px;
}

.signup-form button{
  display: block;
  margin: 0;
  width: 30%;
  height: 40px;
  border: none;
  background-color: grey;
  font-family: sans-serif;
  color: black;
  cursor: pointer;
}

.signup-form button:hover{
  background-color: rgb(50, 30, 200);
}

.loginout{
  border-radius: 8%;
}

h1{
  color: black;
  font-size: 250%;
  text-align: center;
  margin: 25px;
}

.search{
  text-align:center;
}

.main-container a{
  color: white;
  font-size: 150%;
}

.main-container a:hover{
  text-decoration: underline;
}

.main-heading{
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#reviews_table{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: left !important;
  white-space: pre-wrap;
  word-break: break-all;
}

.review_heading{
  width: 20%;
  border-right:2px solid rgb(0, 148, 59);
  padding: 1%
}

.all_reviews{
  padding: 1%;
  width: 80%;
}

.delete_review{
  width: 150% !important;
  padding: 15% !important;
  background-color: rgb(204, 56, 56) !important;
}

.delete_review:hover{
  background-color: rgb(158, 41, 41) !important;
}

#add_review{
  position: relative;
  bottom: 43px;
  width: 10%;
  padding: 2%;
  margin-bottom: 0%;
  margin-left: 2%;
  font-size: 20px;
}

textarea{
  width: 75%;
  margin-left: 5%;
  margin-top: 2%;
  height: 100px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

table {
color: #333;
width: 75%;
border-collapse:
collapse; border-spacing: 0;
margin: auto;
text-align: center;
}

td, th {
border: 1px solid transparent; /*Remove border*/
height: 30px;
transition: all 0.3s;
}

th {
background: #DFDFDF; /*Darken header*/
font-weight: bold;
}

td {
background: #FAFAFA;
}

tr:first-child td{
  text-transform: uppercase;
  color: white;
  background-color: rgb(0, 148, 59) !important;
}

tr:nth-child(even) td{
  background: #f0efef;
}

tr:nth-child(odd) td{
  background: #FEFEFE;
}

form{
  color: white;
}

#all{
  display: flex;
  flex-wrap: wrap; 
  margin: auto;
  width: 99%;
}

.product{
  text-align: center;
  border: 1px solid lightgrey;
  background-color: rgb(255, 255, 255);
  width: 315px;
  display: inline-block;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  border-radius: 5px;
}

.product:hover{
  cursor: pointer;
  border: 1px solid black;
}

.image_container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.product_name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: 1000;
}

.product_price{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.remove_product{
  margin-top: 2px !important;
  background-color: rgb(204, 56, 56) !important;
}

.remove_product:hover{
  background-color: rgb(158, 41, 41) !important;
}

input[type="submit"]{
  width: 60%;
  background-color: rgb(0, 148, 59);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  padding: 5%;
  margin: 3%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: rgb(43, 128, 54);
}

.mod_cell{
  background-color: rgb(233, 233, 233) !important;
  width: 11%;
}

.edit{
  width: 25% !important;
  padding: 1.8% !important;
  margin-left: 37.5% !important;
  margin-right: 37.5% !important;
  /* position: relative !important;
  bottom: 20px; */
}

.delete_prod{
  background-color: rgb(204, 56, 56) !important;
  width: 90% !important;
}

.delete_prod:hover{
  background-color: rgb(158, 41, 41) !important;
}

.quant{
  width: 60px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.ask_quant{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}

.description{
  width: 95%;
  height: 95%;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 2%;
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.5s;
}

.close{
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 40px;
}

.close:hover{
  color: grey;
  cursor: pointer;
}

.desc_head{
  position: absolute;
  left: 4%;
  font-size: 40px;
  color: black;
}

.desc_cont{
  position: relative;
  left: 4%;
  top: 14%;
}

.ask_prod{
  color: black;
  margin: 10px;
}

.add-prod{
  margin: 10px;
  width: 25%;
  padding: 5px;
  height: 20px;
  border: 1px solid black;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

#description{
  position: relative;
  top: 28px;
  height: 40px;
}

#add_product{
  padding: 35px;
  width: 25%;
  margin: 10px;
  margin-top: 50px;
}

.ask_filter{
  color: black;
  margin-left: 30px;
}

.rad_filter{
  color: black;
  margin-right: 8px;
  display: inline;
}

.filter_field{
  width: 90%;
  border: 2px solid black;
  border-radius: 15px;
  padding: 8px;
  margin: 10px;
}

#filter{
  padding: 35px;
  width: 25%;
  margin: 10px;
  margin-top: 35px;
}

.ship{
  width: 175% !important;
  padding: 15% !important;
  background-color: rgb(0, 148, 59) !important;
  border-radius: 14px !important;
}

.ship:hover{
  background-color: rgb(43, 128, 54) !important;
}